In [2897]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2898]:
data=pd.read_csv("https://raw.github.com/Premalatha-success/Yhills_July12_Analytics/main/credit.csv")

In [2899]:
data.shape

(1000, 17)

In [2900]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   object
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   object
 3   purpose               1000 non-null   object
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   object
 6   employment_duration   1000 non-null   object
 7   percent_of_income     1000 non-null   int64
 8   years_at_residence    1000 non-null   int64
 9   age                   1000 non-null   int64
 10  other_credit          1000 non-null   object
 11  housing               1000 non-null   object
 12  existing_loans_count  1000 non-null   int64
 13  job                   1000 non-null   object
 14  dependents            1000 non-null   int64
 15  phone                 1000 non-null   object
 16  default               1000 non-null   object
dtypes: int64(7), object(10)
memory usage: 132.9+ KB

In [2901]:
data.isnull().sum()

checking_balance        0
months_loan_duration    0
credit_history          0
purpose                 0
amount                  0
savings_balance         0
employment_duration     0
percent_of_income       0
years_at_residence      0
age                     0
other_credit            0
housing                 0
existing_loans_count    0
job                     0
dependents              0
phone                   0
default                 0
dtype: int64

In [2902]:
data.head(10)

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
3,< 0 DM,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes
5,unknown,36,good,education,9055,unknown,1 - 4 years,2,4,35,none,other,1,unskilled,2,yes,no
6,unknown,24,good,furniture/appliances,2835,500 - 1000 DM,> 7 years,3,4,53,none,own,1,skilled,1,no,no
7,1 - 200 DM,36,good,car,6948,< 100 DM,1 - 4 years,2,2,35,none,rent,1,management,1,yes,no
8,unknown,12,good,furniture/appliances,3059,> 1000 DM,4 - 7 years,2,4,61,none,own,1,unskilled,1,no,no
9,1 - 200 DM,30,critical,car,5234,< 100 DM,unemployed,4,2,28,none,own,2,management,1,no,yes

In [2903]:
data.sample(10)

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
744,< 0 DM,39,critical,furniture/appliances,14179,unknown,4 - 7 years,4,4,30,none,own,2,management,1,yes,no
713,< 0 DM,9,critical,furniture/appliances,1138,< 100 DM,1 - 4 years,4,4,25,none,own,2,unskilled,1,no,no
577,unknown,24,critical,education,1927,unknown,1 - 4 years,3,2,33,none,own,2,skilled,1,yes,no
763,unknown,21,critical,car,12680,unknown,> 7 years,4,4,30,none,other,1,management,1,yes,yes
184,1 - 200 DM,18,critical,car,884,< 100 DM,> 7 years,4,4,36,bank,own,1,skilled,2,yes,yes
525,1 - 200 DM,26,good,car,7966,< 100 DM,< 1 year,2,3,30,none,own,2,skilled,1,no,no
218,< 0 DM,24,good,furniture/appliances,3021,< 100 DM,1 - 4 years,2,2,24,none,rent,1,unskilled,1,no,no
846,unknown,18,good,car,6761,unknown,1 - 4 years,2,4,68,none,rent,2,skilled,1,no,yes
95,1 - 200 DM,54,perfect,business,15945,< 100 DM,< 1 year,3,4,58,none,rent,1,skilled,1,yes,yes
621,unknown,18,critical,car,1530,< 100 DM,1 - 4 years,3,2,32,bank,own,2,skilled,1,no,yes

In [2904]:
data['checking_balance'].replace('< 0 DM',0,inplace=True)
data['checking_balance'].replace('1 - 200 DM',100,inplace=True)
data['checking_balance'].replace('> 200 DM',300,inplace=True)
data['checking_balance'].replace('unknown',np.nan,inplace=True)
data['checking_balance']=data['checking_balance'].astype(float)

In [2905]:
median1=data['checking_balance'].median()
data['checking_balance'].replace(np.nan,median1,inplace=True)

In [2906]:
data.sample(10)

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
225,100.0,36,perfect,renovations,2613,< 100 DM,1 - 4 years,4,2,27,none,own,2,skilled,1,no,no
731,0.0,24,good,furniture/appliances,1987,< 100 DM,1 - 4 years,2,4,21,none,rent,1,unskilled,2,no,yes
674,100.0,21,poor,business,2580,500 - 1000 DM,< 1 year,4,2,41,bank,own,1,unskilled,2,no,yes
743,0.0,24,very good,furniture/appliances,2483,500 - 1000 DM,1 - 4 years,4,4,22,store,own,1,skilled,1,yes,no
840,0.0,36,good,furniture/appliances,5179,< 100 DM,4 - 7 years,4,2,29,none,own,1,skilled,1,no,yes
940,100.0,12,good,car,3527,unknown,< 1 year,2,3,45,none,own,1,management,2,yes,no
3,0.0,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no
776,100.0,36,critical,car,3535,< 100 DM,4 - 7 years,4,4,37,none,own,2,skilled,1,yes,no
611,300.0,10,good,car,1240,100 - 500 DM,> 7 years,1,4,48,none,other,1,unskilled,2,no,yes
59,0.0,36,critical,furniture/appliances,6229,< 100 DM,< 1 year,4,4,23,none,rent,2,unskilled,1,yes,yes

In [2907]:
data['savings_balance'].replace('< 100 DM',100,inplace=True)
data['savings_balance'].replace('100 - 500 DM',250,inplace=True)
data['savings_balance'].replace('500 - 1000 DM',750,inplace=True)
data['savings_balance'].replace('> 1000 DM',1500,inplace=True)
data['savings_balance'].replace('unknown',np.nan,inplace=True)
data['savings_balance']=data['savings_balance'].astype(float)

In [2908]:
median2=data['savings_balance'].median()
data['savings_balance'].replace(np.nan,median2,inplace=True)

In [2909]:
data['employment_duration'].replace('< 1 year',1,inplace=True)
data['employment_duration'].replace('1 - 4 years',2.5,inplace=True)
data['employment_duration'].replace('4 - 7 years',5.5,inplace=True)
data['employment_duration'].replace('> 7 years',8,inplace=True)
data['employment_duration'].replace('unemployed',0,inplace=True)
data['employment_duration']=data['employment_duration'].astype(float)

In [2910]:
from sklearn.preprocessing import StandardScaler
std_scale=StandardScaler()
std_scale

StandardScaler()

In [2911]:
data['checking_balance']=std_scale.fit_transform(data[['checking_balance']])
#data['credit_history']=std_scale.fit_transform(data[['credit_history']])
#data['purpose']=std_scale.fit_transform(data[['purpose']])
data['amount']=std_scale.fit_transform(data[['amount']])
data['savings_balance']=std_scale.fit_transform(data[['savings_balance']])
data['employment_duration']=std_scale.fit_transform(data[['employment_duration']])
data['percent_of_income']=std_scale.fit_transform(data[['percent_of_income']])
data['years_at_residence']=std_scale.fit_transform(data[['years_at_residence']])
data['age']=std_scale.fit_transform(data[['age']])
#data['other_credit']=std_scale.fit_transform(data[['other_credit']])
#data['housing']=std_scale.fit_transform(data[['housing']])
data['existing_loans_count']=std_scale.fit_transform(data[['existing_loans_count']])
#data['job']=std_scale.fit_transform(data[['job']])
data['dependents']=std_scale.fit_transform(data[['dependents']])
#data['phone']=std_scale.fit_transform(data[['phone']])
#data['default']=std_scale.fit_transform(data[['default']])

In [2912]:
dummies=pd.get_dummies(data[['credit_history','purpose','other_credit','housing','job','phone','default']],
                      columns=['credit_history','purpose','other_credit','housing','job','phone','default'])
dummies.head(10)

,credit_history_critical,credit_history_good,credit_history_perfect,credit_history_poor,credit_history_very good,purpose_business,purpose_car,purpose_car0,purpose_education,purpose_furniture/appliances,...,housing_own,housing_rent,job_management,job_skilled,job_unemployed,job_unskilled,phone_no,phone_yes,default_no,default_yes
0,1,0,0,0,0,0,0,0,0,1,...,1,0,0,1,0,0,0,1,1,0
1,0,1,0,0,0,0,0,0,0,1,...,1,0,0,1,0,0,1,0,0,1
2,1,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,1,0,1,0
3,0,1,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,1,0,1,0
4,0,0,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,1
5,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,1,1,0
6,0,1,0,0,0,0,0,0,0,1,...,1,0,0,1,0,0,1,0,1,0
7,0,1,0,0,0,0,1,0,0,0,...,0,1,1,0,0,0,0,1,1,0
8,0,1,0,0,0,0,0,0,0,1,...,1,0,0,0,0,1,1,0,1,0
9,1,0,0,0,0,0,1,0,0,0,...,1,0,1,0,0,0,1,0,0,1

In [2913]:
columns=['credit_history','purpose','other_credit','housing','job','phone','default']
data=pd.concat([data,dummies],axis=1)
data.drop(columns,axis=1,inplace=True)

In [2914]:
data.head(10)

,checking_balance,months_loan_duration,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,existing_loans_count,dependents,...,housing_own,housing_rent,job_management,job_skilled,job_unemployed,job_unskilled,phone_no,phone_yes,default_no,default_yes
0,-1.200005,6,-0.745131,-0.37656,1.437382,0.918477,1.046987,2.766456,1.027079,-0.428290,...,1,0,0,1,0,0,0,1,1,0
1,0.208452,48,0.949817,-0.37656,-0.539265,-0.870183,-0.765977,-1.191404,-0.704926,-0.428290,...,1,0,0,1,0,0,1,0,0,1
2,0.208452,12,-0.416562,-0.37656,0.538906,-0.870183,0.140505,1.183312,-0.704926,2.334869,...,1,0,0,0,0,1,1,0,1,0
3,-1.200005,42,1.634247,-0.37656,0.538906,-0.870183,1.046987,0.831502,-0.704926,2.334869,...,0,0,0,1,0,0,1,0,1,0
4,-1.200005,24,0.566664,-0.37656,-0.539265,0.024147,1.046987,1.535122,1.027079,2.334869,...,0,0,0,1,0,0,1,0,0,1
5,0.208452,36,2.050009,-0.37656,-0.539265,-0.870183,1.046987,-0.048022,-0.704926,2.334869,...,0,0,0,0,0,1,0,1,1,0
6,0.208452,24,-0.154629,1.60373,1.437382,0.024147,1.046987,1.535122,-0.704926,-0.428290,...,1,0,0,1,0,0,1,0,1,0
7,0.208452,36,1.303197,-0.37656,-0.539265,-0.870183,-0.765977,-0.048022,-0.704926,-0.428290,...,0,1,1,0,0,0,0,1,1,0
8,0.208452,12,-0.075233,3.88868,0.538906,-0.870183,1.046987,2.238742,-0.704926,-0.428290,...,1,0,0,0,0,1,1,0,1,0
9,0.208452,30,0.695681,-0.37656,-1.437741,0.918477,-0.765977,-0.663689,1.027079,-0.428290,...,1,0,1,0,0,0,1,0,0,1

In [2915]:
data.sample(10)

,checking_balance,months_loan_duration,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,existing_loans_count,dependents,...,housing_own,housing_rent,job_management,job_skilled,job_unemployed,job_unskilled,phone_no,phone_yes,default_no,default_yes
82,0.208452,18,-0.603709,0.08043,-0.539265,0.024147,1.046987,-1.015499,-0.704926,-0.428290,...,0,1,0,0,0,1,1,0,1,0
641,0.208452,15,-0.695864,-0.37656,1.437382,0.918477,1.046987,0.215835,1.027079,-0.428290,...,1,0,0,0,0,1,1,0,1,0
920,0.208452,18,-0.515452,-0.37656,-0.539265,0.918477,-0.765977,-0.663689,1.027079,-0.428290,...,1,0,0,1,0,0,1,0,1,0
731,-1.200005,24,-0.455197,-0.37656,-0.539265,-0.870183,1.046987,-1.279356,-0.704926,2.334869,...,0,1,0,0,0,1,1,0,0,1
538,-1.200005,48,1.592068,-0.37656,1.437382,0.918477,1.046987,0.567645,-0.704926,-0.428290,...,0,0,1,0,0,0,1,0,0,1
936,3.025364,9,-0.895415,-0.37656,-0.539265,0.024147,-0.765977,-0.663689,-0.704926,-0.428290,...,1,0,0,0,0,1,1,0,0,1
623,-1.200005,12,-0.500920,-0.37656,-1.078351,0.918477,-1.672459,-1.191404,-0.704926,-0.428290,...,0,1,0,1,0,0,1,0,1,0
595,0.208452,6,-0.829489,0.08043,-1.078351,-1.764514,-1.672459,-0.311879,-0.704926,-0.428290,...,1,0,0,0,0,1,1,0,0,1
380,-1.200005,20,-0.375447,-0.37656,0.538906,0.918477,1.046987,0.303788,-0.704926,-0.428290,...,1,0,0,1,0,0,0,1,1,0
998,-1.200005,45,-0.505528,-0.37656,-0.539265,0.918477,1.046987,-1.103451,-0.704926,-0.428290,...,0,0,0,1,0,0,0,1,0,1

In [2916]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2917]:
x=data.drop(['months_loan_duration'],axis=1)
y=data[['months_loan_duration']]

In [2918]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=1)

In [2919]:
reg_model=LogisticRegression()
reg_model.fit(x_train,y_train)
predictions=reg_model.predict(x_test)

C:\Users\Vighneshwar\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Vighneshwar\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [2920]:
from sklearn.metrics import accuracy_score

In [2921]:
accuracy_score(y_test,predictions)

0.26666666666666666

In [2922]:
reg_model.score(x_train,y_train)

0.3457142857142857

In [2923]:
reg_model.score(x_test,y_test)

0.26666666666666666

In [2924]:
from sklearn.svm import SVC

In [2925]:
clf=SVC(kernel='sigmoid',C=2.0,gamma='auto')
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)

C:\Users\Vighneshwar\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [2926]:
print(accuracy_score(y_test,y_pred))

0.28

In [2927]:
clf.score(x_test,y_test)

0.28

In [2928]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn=KNeighborsClassifier(n_neighbors=5,weights='distance')
knn.fit(x_train,y_train)

In [2930]:
knn.score(x_train,y_train)

1.0

In [2931]:
knn.score(x_test,y_test)

0.18666666666666668

In [2932]:
from sklearn.tree import DecisionTreeClassifier

In [2933]:
dtree=DecisionTreeClassifier(max_depth=3,criterion='entropy',splitter='best')
dtree.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [2934]:
dtree.score(x_train,y_train)

0.2557142857142857

In [2935]:
dtree.score(x_test,y_test)

0.26666666666666666

In [2936]:
from sklearn.ensemble import BaggingClassifier

In [ ]:
bgcl=BaggingClassifier(n_estimators=50,base_estimator=dtree,random_state=1)
bgcl.fit(x_train,y_train)

In [2938]:
bgcl.score(x_train,y_train)

0.31285714285714283

In [2939]:
bgcl.score(x_test,y_test)

0.29

In [2940]:
from sklearn.ensemble import AdaBoostClassifier

In [ ]:
abcl=AdaBoostClassifier(n_estimators=50,random_state=1)
abcl.fit(x_train,y_train)

In [2942]:
abcl.score(x_train,y_train)

0.25285714285714284

In [2943]:
abcl.score(x_test,y_test)

0.25666666666666665

In [2944]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
gbcl=GradientBoostingClassifier(n_estimators=50,random_state=1)
gbcl.fit(x_train,y_train)

In [2946]:
gbcl.score(x_train,y_train)

0.8771428571428571

In [2947]:
gbcl.score(x_test,y_test)

0.22333333333333333

In [2948]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rfcl=RandomForestClassifier(n_estimators=100,random_state=1,max_features=6,max_samples=6,max_depth=10,criterion='entropy')
rfcl.fit(x_train,y_train)

In [2950]:
rfcl.score(x_train,y_train)

0.2571428571428571

In [2951]:
rfcl.score(x_test,y_test)

0.21